@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}
.container {
  width: 90vw;
  height :98vh;
  margin: 1vh auto;
  overflow: auto;
  min-height: 300px;
  border: 3px solid rgb(0, 0, 0);
  padding: 20px;
  border-radius: 5px;
  
}
.loading{
  width:100%;
  height:40vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  /* margin-left: 45vh; */
  margin-top: 3vh;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 20px;
  font-family: inherit;
}

.icon .btn{
  display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  /* margin-left: 45vh; */
  margin: 3vh;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 18px;
  font-family: inherit;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}
.form {
  margin: auto;
  margin-top: 7vh;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.form > div {
  display: flex;
}
.form input{
  width: 17vw;
  height: 7vh;
  padding: 3px 7px;
  font-size: 17px;
  margin-left:3px;
}
.form h4{
  margin-right: 2px;
  margin-left: 2px;
  margin-top: 5px;
}

/* .form-control {
  margin: auto;
  margin: 20px 0;
} */
.login-form {
  display: flex;
  margin-top: 18vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin-bottom: 40px;  */
}
.signup-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin-bottom: 40px;  */
}

.form-control {
  /* margin: 20px 0; */
}
.link{
  margin-top: 2vh;  
  display:flex;
  justify-content: center;
}
.form-control label {
  display: block;
  margin: 1.5vh 0vh;
  font-size: 20px;
  font-weight: 600;
}

.form-control input {
  width: 40vw;
  height: 40px;
  margin-bottom: 3px;
  padding: 3px 7px;
  font-size: 17px;
}
.form-control-check label {
  flex: 1;
}

.form-control-check input {
  flex: 2;
  height: 20px;
}
.contact {
  background: #d9d8d8;
  width: 60%;
  text-align: center;
  transition: transform .2s;
  margin: auto;
  margin-top: 15px;   
  margin-bottom: 15px;   
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
}
.view_contact {
  background: #d9d8d8;
  width: 50%;
  text-align: center;
  transition: transform .2s;
  margin: auto;
  margin-top: 20vh;   
  margin-bottom: 15px;   
  padding: 10px 20px;
  border-radius: 4px;

}
.zoom {
  padding: 50px;
  transition: transform .2s; /* Animation */
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.contact:hover {
  transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}


.icon{
  display: flex;
  align-items: center;
}
.header {
  /* height:20vh; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1vh;
  background-color: #c9c9c9;
  /* border: 3px solid rgb(158, 152, 152); */
  border-radius: 5px;

}


.icon>img{
  width: 15vh;
}